
# Log files
*.log
*.cfg

# Server files and backups
/serverFiles/*
/serverTmp/*
/serverLogs/*
/serverBackups/*

# Exceptions
!/serverBackups/config_backups_model.cfg
!/config_model.cfg
!/serverFiles/README.md
!/serverFiles/testServer.sh
!/examples/*
